.myinfo-title {
  font-size: x-large;
  font-weight: bolder;
  border-bottom: 1px gray solid;
  margin-top: 50px;
  margin-bottom: 40px;
}

.description {
  float: left;
  width: 100px;
  text-align: center;
}

.print {
  float: left;
}

.myinfobox {
  float: left;
  padding-left: 45%;
}
.edit-button {
  border: none;
  background-color: pink;
  width: 90px;
  text-align: center;
}
.remove-button {
  border: none;
  background-color: hotpink;
  width: 90px;
  text-align: center;
}
